/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Outfit:wght@100..900&display=swap');

/* Tailwind */
@import "tailwindcss";

/* Custom Color Palettes - Pixel Flowers */

/* Neutral Theme */
/* @theme {
  --color-base:         hsla(   0,   0%,  83%, 1.00 );
  --color-accent:       hsla(   0,   0%,  64%, 1.00 );
  --color-canvas:       hsla(   0,   0%,  64%, 1.00 );
  --color-placeholder:  hsla(   0,   0%,  64%, 1.00 );
  --color-tab:          hsla(   0,   0%,  45%, 1.00 );
  --color-xmuted:       hsla(   0,   0%,  64%, 0.50 );
  --color-muted:        hsla(   0,   0%,  45%, 0.75 );
  --color-disabled:     hsla(   0,   0%,  45%, 0.50 );
  --color-body:         hsla(   0,   0%,  25%, 1.00 );
  --color-strong:       hsla(   0,   0%,  15%, 1.00 );
  --color-emphasis:     hsla(   0,   0%,  45%, 1.00 );
} */

/* PalEmta de Color - Fixed v1.1 */
@theme {
  --color-base:         hsla(  50,  80%,  90%, 1.00 );
  --color-accent:       hsla(   5,  90%,  65%, 1.00 );
  --color-canvas:       hsla( 355,  90%,  65%, 0.50 );
  --color-placeholder:  hsla(  30,  90%,  65%, 1.00 );
  --color-tab:          hsla( 335,  80%,  55%, 1.00 );
  --color-xmuted:       hsla(  90,  90%,  65%, 0.75 );
  --color-muted:        hsla(  50,  60%,  45%, 1.00 );
  --color-disabled:     hsla(   5,  80%,  45%, 0.50 );
  --color-body:         hsla(   0,  40%,  25%, 1.00 );
  --color-strong:       hsla(   5,  80%,  15%, 1.00 );
  --color-emphasis:     hsla(   5,  90%,  45%, 1.00 );
  --color-custom:       hsla( 335, 100%,  60%, 1.00 );
}

.outfit-thin {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.outfit-extralight {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.outfit-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-regular-italic {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-bold-italic {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.outfit-extrabold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.outfit-black {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}